@page
@model RegisterModel
@{
    ViewData["Title"] = "Регистрация";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-8">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post" id="register-form">
            <h4>Создание нового аккаунта.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger" id="validation-summary"></div>
            <div class="form-group">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control" id="first-name" />
                <span asp-validation-for="Input.FirstName" class="text-danger" id="first-name-validation"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.SecondName"></label>
                <input asp-for="Input.SecondName" class="form-control" id="second-name" />
                <span asp-validation-for="Input.SecondName" class="text-danger" id="second-name-validation"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Birthdate"></label>
                <input asp-for="Input.Birthdate" class="form-control" id="birthdate" />
                <span asp-validation-for="Input.Birthdate" class="text-danger" id="birhdate-validation"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" id="email" />
                <span asp-validation-for="Input.Email" class="text-danger" id="email-validation"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" id="phone-number" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger" id="phone-number-validation"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" id="password" />
                <span asp-validation-for="Input.Password" class="text-danger" id="password-validation"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" id="confirm-password" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger" id="confirm-password-validation"></span>
            </div>
            <button type="submit" class="btn btn-primary" id="register">Зарегистрироваться</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
