@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Подтверждение регистрации";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p>
            Ссылка на подтверждение аккаунта: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Нажмите здесь, чтобы подтвердить свой аккаунт</a>
        </p>
    }
    else
    {
        <p>
            Пожалуйста, проверьте свою электронную почту, чтобы подтвердить свой аккаунт.
        </p>
    }
}
